
  @font-face {
    font-family: 'NBS';
    src: local('NBS'), local('NBS');
    src: url('../../fonts/NBS-Light.woff2') format('woff2'); 
  }

  @font-face {
    font-family: 'CabernetJFPro';
    src: local('CabernetJFPro-Regular'), local('CabernetJFPro-Regular');
    src: url('../../fonts/CabernetJFPro-Regular.woff2') format('woff2'); 
  }
  .m-2 {
    margin: .5rem!important
}

.abouttext{
    margin-bottom: 4rem;
}

.main{
    
        margin: 0;
        font-family: 'NBS';
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.3;
        color: black;
        text-align: left;
        background-color: #fff
   
}
.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
}

.img-fluid {
    max-width: 100%;
    height: auto;
    margin-left: 2.5rem!important;
    margin-right: 1.5rem!important;
    /* margin-top: 1.5rem!important; */
    margin-bottom: 1.25rem!important;
}

.no-gutters {
    margin-right: -4rem;
    margin-left: 0
}

.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0
}

.card {
    position: relative;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.75rem!important;
}




.card-img{
    position: relative; 
    margin: 0; 
    top: 50%; 
    transform: translate(0, -50%);
    width: 100%;
    border-radius: calc(.75rem)!important;

}


.card-title, .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 700;
    line-height: 1.2;
    color: #004a8f;
    font-family: NBS,Arial,sans-serif;
}

.card-text{
    padding-bottom: 1.25rem;
}
.col{
    margin-bottom: 4rem;
}


.col-12{
    padding-top: 2%;
    padding-bottom: 2%;
}
.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%
}
/* .container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
} */

@media (min-width:576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1080px
    }
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto
}



.header-content {
    margin-bottom: 2rem
}

@media (min-width:992px) {
    .header-content {
        margin-bottom: 5rem
    }
}

.header-content, .intro-content {
    text-align: center;
}

.hero {
    position: relative;
    padding-top: 100px;
    padding-bottom: 15px;
    font-size: 1.25rem;
    line-height: 1.1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    margin-bottom: 2.5rem;
}

@media (min-width:768px) {
    .hero {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        min-height: 350px;
        padding-bottom: 100px;
        font-size: 1.5rem;
        background-position: center
    }
}

@media (max-width:767.98px) {
    .hero {
        color: #fff
    }
}

@media only screen and (min-width:1600px) {
    .hero {
        min-height: 450px
    }
}

@media (min-width:992px) {
    .hero p {
        width: 80%
    }
}

.hero .container {
    position: relative;
    z-index: 2
}

@media (max-width:767.98px) {
    .hero:not(.no-overlay):before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: .6;
        background-color: #004a8f
    }
}

.hero-heading {
    font-family: 'CabernetJFPro';
    font-weight: 400;
    letter-spacing: .01rem;
    color: white;
}

@media (max-width:767.98px) {
    .hero-heading {
        color: #fff
    }
}


.text-white .hero-heading {
    color: #fff
}



@media (min-width:768px) {
    .header-content, .intro-content {
        text-align: center
    }
}

@media (min-width:992px) {
    .header-content, .intro-content {
        padding: 0 5rem
    }
}

.header-content {
    margin-bottom: 2rem
}

@media (min-width:992px) {
    .header-content {
        margin-bottom: 5rem
    }
}


